{% block swag_migration_index_card_shopInfo %}
    <sw-card class="swag-migration-index--card-shopInfo" :title="$tc('swag-migration.index.shopInfoCard.cardTitle')">
        {% block swag_migration_index_card_shopInfo_content %}
            <sw-container slot="grid" rows="auto auto">
                <sw-card-section :divider="showMoreInformation ? 'bottom' : ''">
                    {% block swag_migration_index_card_shopInfo_metaData %}
                        <div class="swag-migration-index__metadata">
                            {% block swag_migration_index_card_shopInfo_metaData_avatar %}
                                <sw-avatar class="swag-migration-index__metadata_avatar"
                                           color="#189EFF"
                                           size="80px">{{ shopFirstLetter }}</sw-avatar>
                            {% endblock %}

                            {% block swag_migration_index_card_shopInfo_metaData_info %}
                                <div class="swag-migration-index__metadata_info">
                                    {% block swag_migration_index_card_shopInfo_metaData_domain %}
                                        <div class="swag-migration-index__metadata-shop-domain">
                                            <span class="swag-migration-index__metadata-shop-domain--prefix"
                                                  :class="shopUrlPrefixClass">
                                                <sw-icon name="small-lock-closed"
                                                         size="12px"
                                                         class="swag-migration-index__metadata-shop-domain--prefix__icon"
                                                         v-if="sslActive">
                                                </sw-icon>
                                                <sw-icon name="small-lock-open"
                                                         size="12px"
                                                         class="swag-migration-index__metadata-shop-domain--prefix__icon"
                                                         v-else>
                                                </sw-icon>
                                                {{ shopUrlPrefix }}</span>{{ shopUrl }}
                                        </div>
                                    {% endblock %}

                                    {% block swag_migration_index_card_shopInfo_metaData_version %}
                                        <div class="swag-migration-index__metadata-shopware-version">
                                            {{ $tc('swag-migration.index.shopInfoCard.shopSystem') }}
                                            {{ shopSystem }}
                                            {{ shopVersion }}
                                        </div>
                                    {% endblock %}

                                    {% block swag_migration_index_card_shopInfo_actions %}
                                        <div class="swag-migration-index__actions">
                                            {% block swag_migration_index_card_shopInfo_actions_editSettings %}
                                                <sw-button size="small"
                                                           @click="onClickEditConnectionCredentials"
                                                           :disabled="isMigrating || isPaused || isOtherMigrationRunning">
                                                    {{ $tc('swag-migration.index.shopInfoCard.buttonEditSettings') }}
                                                </sw-button>
                                            {% endblock %}

                                            {% block swag_migration_index_card_shopInfo_actions_contextMenu %}
                                                <sw-context-button :disabled="isMigrating || isPaused || isOtherMigrationRunning">
                                                    <sw-button size="small"
                                                               square slot="button"
                                                               :disabled="isMigrating || isPaused || isOtherMigrationRunning">
                                                        <sw-icon name="small-more" small></sw-icon>
                                                    </sw-button>
                                                    <sw-context-menu-item @click="onClickCreateConnection">
                                                        {{ $tc('swag-migration.index.shopInfoCard.buttonCreateProfile') }}
                                                    </sw-context-menu-item>
                                                    <sw-context-menu-item @click="onClickSelectConnection">
                                                        {{ $tc('swag-migration.index.shopInfoCard.buttonSelectProfile') }}
                                                    </sw-context-menu-item>
                                                    <sw-context-menu-item variant="danger" @click="showConfirmModal = true">
                                                        {{ $tc('swag-migration.index.shopInfoCard.buttonRemoveProfile') }}
                                                    </sw-context-menu-item>
                                                </sw-context-button>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block swag_migration_index_card_shopInfo_metaData_connection %}
                                <div class="swag-migration-index__metadata_connection">
                                    <sw-label class="swag-migration-connection-status" :variant="connectionBadgeVariant" pill>
                                        <sw-color-badge class="swag-migration-connection-status--dot" :variant="connectionBadgeVariant" rounded>
                                        </sw-color-badge>
                                        <span class="swag-migration-connection-status--text">
                                            {{ $tc(connectionBadgeLabel) }}
                                        </span>
                                    </sw-label>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </sw-card-section>

                <sw-card-section secondary slim v-if="showMoreInformation">
                    <sw-container class="sw-customer-base-info" columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                        {% block swag_migration_index_card_shopInfo_advancedShopInfo %}
                            <sw-description-list v-if="environmentInformation.totals">
                                {% block swag_migration_index_card_shopInfo_advancedShopInfo__entityCounts %}
                                    <template v-for="entityName in Object.keys(environmentInformation.totals)">
                                        <dt>{{ $tc('swag-migration.index.shopInfoCard.entities.' + entityName) }}</dt>
                                        <dd>{{ environmentInformation.totals[entityName] | localizedNumberFormat }}</dd>
                                    </template>
                                {% endblock %}
                            </sw-description-list>
                            <sw-description-list>
                                {% block swag_migration_index_card_shopInfo_advancedShopInfo__lastMigration %}
                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.lastMigration') }}</dt>
                                    <dd v-if="lastMigrationDate !== '-'">
                                        {{ $t('swag-migration.index.shopInfoCard.lastMigrationDateTime', lastMigrationDateTimeParams) }}
                                    </dd>
                                    <dd v-else>-</dd>
                                {% endblock %}

                                {% block swag_migration_index_card_shopInfo_advancedShopInfo__gateway %}
                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.gateway') }}</dt>
                                    <dd>{{ gateway.toUpperCase() }}</dd>
                                {% endblock %}
                            </sw-description-list>
                        {% endblock %}
                    </sw-container>
                </sw-card-section>
            </sw-container>
        {% endblock %}

        <sw-modal v-if="showConfirmModal"
                  :title="$tc('swag-migration.index.shopInfoCard.confirmDialog.title')"
                  @closeModal="showConfirmModal = false">

            <p v-html="$tc('swag-migration.index.shopInfoCard.confirmDialog.content')">
            </p>

            <template slot="modal-footer">
                {% block swag_migration_wizard_footer %}

                    {% block swag_migration_wizard_actions_previous %}
                    <sw-button size="small"
                               @click="showConfirmModal = false">
                        {{ $tc('swag-migration.index.shopInfoCard.confirmDialog.abortButtonText') }}
                    </sw-button>
                    {% endblock %}
                    {% block swag_migration_wizard_actions_next %}
                    <sw-button size="small"
                               variant="primary"
                               @click="onClickRemoveConnectionCredentials">
                        {{ $tc('swag-migration.index.shopInfoCard.confirmDialog.confirmButtonText') }}
                    </sw-button>
                    {% endblock %}
                {% endblock %}
            </template>
        </sw-modal>
    </sw-card>
{% endblock %}