{% block swag_migration_shop_information %}
    <sw-card
        class="swag-migration-shop-information"
        :title="$tc('swag-migration.index.shopInfoCard.cardTitle')"
        position-identifier="swag-migration-shop-information"
    >
        <template #header-right>
            <sw-button
                v-tooltip="{ message: $tc('swag-migration.index.shopInfoCard.refreshTooltip') }"
                class="swag-migration-shop-information__refresh-connection"
                size="x-small"
                square
                @click="onClickRefreshConnection"
            >
                <sw-icon
                    name="regular-redo-s"
                    small
                />
            </sw-button>
        </template>

        {% block swag_migration_shop_information_content %}
            <template #grid>
                <sw-container rows="auto auto">
                    <sw-card-section :divider="showMoreInformation ? 'bottom' : ''">

                        {% block swag_migration_shop_information_connection %}
                            <div class="swag-migration-shop-information__connection">

                                {% block swag_migration_shop_information_connection_avatar %}
                                    <template v-if="profileIcon !== null && profileIcon !== ''">
                                        <img class="swag-migration-shop-information__profile-avatar"
                                             :src="assetFilter(profileIcon)"
                                             alt=""
                                             size="80px">
                                    </template>

                                    <template v-else>
                                        <img class="swag-migration-shop-information__profile-avatar"
                                             :src="assetFilter('/swagmigrationassistant/static/img/migration-assistant-plugin.svg')"
                                             alt=""
                                             size="80px">
                                    </template>
                                {% endblock %}

                                {% block swag_migration_shop_information_connection_info %}
                                    <div class="swag-migration-shop-information__connection-info">

                                        {% block swag_migration_shop_information_shop_system %}
                                            <div class="swag-migration-shop-information__connection-name">
                                                {{ connectionName }}
                                            </div>
                                        {% endblock %}

                                        {% block swag_migration_shop_information_shop_domain %}
                                            <div v-if="shopUrl !== ''"
                                                 class="swag-migration-shop-information__shop-domain">
                                                <span class="swag-migration-shop-information__shop-domain-prefix"
                                                      :class="shopUrlPrefixClass">
                                                    <sw-icon v-if="sslActive"
                                                             class="swag-migration-shop-information__shop-domain-prefix-icon"
                                                             name="regular-lock"
                                                             size="12px" />
                                                    <sw-icon v-else
                                                             class="swag-migration-shop-information__shop-domain-prefix-icon"
                                                             name="regular-lock-open-s"
                                                             size="12px" />
                                                    {{ shopUrlPrefix }}</span>{{ shopUrl }}
                                            </div>
                                        {% endblock %}

                                        {% block swag_migration_shop_information_actions %}
                                            <div class="swag-migration-shop-information__actions">

                                                {% block swag_migration_shop_information_actions_editSettings %}
                                                    <template v-if="!connection">
                                                        <sw-button size="small"
                                                                   @click="onClickCreateInitialConnection">
                                                            {{ $tc('swag-migration.index.shopInfoCard.buttonCreateInitialConnection') }}
                                                        </sw-button>
                                                    </template>
                                                    <template v-else>
                                                        <sw-button size="small"
                                                                   @click="onClickEditConnectionCredentials">
                                                            {{ $tc('swag-migration.index.shopInfoCard.buttonEditSettings') }}
                                                        </sw-button>
                                                    </template>
                                                {% endblock %}

                                                {% block swag_migration_shop_information_actions_contextMenu %}
                                                    <sw-context-button v-if="connection">
                                                        <template #button>
                                                            <sw-button size="small"
                                                                       square>
                                                                <sw-icon name="solid-ellipsis-h-s"
                                                                         small />
                                                            </sw-button>
                                                        </template>

                                                        {% block swag_migration_shop_information_actions_createConnectionItem %}
                                                            <sw-context-menu-item @click="onClickCreateConnection">
                                                                {{ $tc('swag-migration.index.shopInfoCard.buttonCreateConnection') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block swag_migration_shop_information_actions_selectConnectionItem %}
                                                            <sw-context-menu-item @click="onClickSelectConnection">
                                                                {{ $tc('swag-migration.index.shopInfoCard.buttonSelectConnection') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block swag_migration_shop_information_actions_profileInstallationItem %}
                                                            <sw-context-menu-item @click="onClickProfileInstallation">
                                                                {{ $tc('swag-migration.index.shopInfoCard.buttonProfileInstallation') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block swag_migration_shop_information_actions_removeCredentialsItem %}
                                                            <sw-context-menu-item variant="danger"
                                                                                  @click="showRemoveCredentialsConfirmModal = true">
                                                                {{ $tc('swag-migration.index.shopInfoCard.buttonRemoveCredentials') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block swag_migration_shop_information_actions_resetChecksumsItem %}
                                                            <sw-context-menu-item variant="danger"
                                                                                  @click="showResetChecksumsConfirmModal = true">
                                                                {{ $tc('swag-migration.index.shopInfoCard.buttonResetChecksums') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block swag_migration_shop_information_actions_divider %}
                                                            <sw-context-menu-divider />
                                                        {% endblock %}

                                                        {% block swag_migration_shop_information_actions_resetMigrationItem %}
                                                            <sw-context-menu-item @click="openResetMigrationModal">
                                                                {{ $tc('swag-migration.index.shopInfoCard.buttonResetMigration') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}
                                                    </sw-context-button>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block swag_migration_shop_information_connection %}
                                    <div class="swag-migration-shop-information__connection">
                                        <div class="swag-migration-shop-information__connection-badge">
                                            <sw-label class="swag-migration-shop-information__connection-status"
                                                      :variant="connectionBadgeVariant"
                                                      appearance="pill">
                                                <sw-color-badge class="swag-migration-shop-information__connection-status-dot"
                                                                :variant="connectionBadgeVariant"
                                                                rounded />
                                                <span class="swag-migration-shop-information__connection-status-text">
                                                    {{ $tc(connectionBadgeLabel) }}
                                                </span>
                                            </sw-label>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </sw-card-section>

                    <sw-card-section v-if="showMoreInformation"
                                     secondary
                                     slim>
                        <sw-container class="swag-migration-shop-information__metadata"
                                      columns="repeat(auto-fit, minmax(250px, 1fr)"
                                      gap="0px 15px">

                            {% block swag_migration_shop_information_metadata_columns %}
                                <div class="swag-migration-shop-information__metadata-columns">

                                    {% block swag_migration_shop_information_metadata_column_left %}
                                        {% block swag_migration_shop_information_metadata_profile %}
                                            <sw-description-list>
                                                <dt>{{ $tc('swag-migration.index.shopInfoCard.profile') }}</dt>
                                                <dd>{{ profile }}</dd>
                                            </sw-description-list>
                                        {% endblock %}

                                        {% block swag_migration_shop_information_metadata_gateway %}
                                            <sw-description-list>
                                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.gateway') }}</dt>
                                                    <dd>{{ $tc(gateway) }}</dd>
                                            </sw-description-list>
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                                <div class="swag-migration-shop-information__metadata-columns">

                                    {% block swag_migration_shop_information_column_right %}
                                        {% block swag_migration_shop_information_metadata_lastConnectionCheck %}
                                            <sw-description-list>
                                                <dt>
                                                    {{ $tc('swag-migration.index.shopInfoCard.connectionCheck') }}
                                                </dt>
                                                <dd v-if="lastConnectionCheck">
                                                    {{ formattedLastConnectionCheckDate }}
                                                </dd>
                                                <dd v-else>
                                                    -
                                                </dd>
                                            </sw-description-list>
                                        {% endblock %}

                                        {% block swag_migration_shop_information_metadata_lastMigration %}
                                            <sw-description-list>
                                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.lastMigration') }}</dt>
                                                    <dd v-if="lastMigrationDate !== '-'">
                                                        {{ formattedLastMigrationDateTime }}
                                                    </dd>
                                                    <dd v-else>
                                                        {{ $tc('swag-migration.index.shopInfoCard.noMigrationDoneYet') }}
                                                    </dd>
                                            </sw-description-list>
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </sw-container>
                    </sw-card-section>
                </sw-container>

                {% block swag_migration_shop_information_remove_credentials_confirm_modal %}
                    <sw-modal v-if="showRemoveCredentialsConfirmModal"
                              class="swag-migration-shop-information__confirm-modal"
                              :title="$tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.title')"
                              :is-loading="confirmModalIsLoading"
                              size="460px"
                              @modal-close="showRemoveCredentialsConfirmModal = false">

                        {% block swag_migration_shop_information_remove_credentials_confirm_modal_content %}
                            <p class="swag-migration-shop-information__confirm-modal-content">
                                {{ $tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.content') }}
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_remove_credentials_confirm_modal_content_hint %}
                            <p class="swag-migration-shop-information__confirm-modal-content-hint">
                                {{ $tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.contentHint') }}
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_remove_credentials_confirm_modal_footer %}
                            <template #modal-footer>

                                {% block swag_migration_shop_information_remove_credentials_confirm_modal_abort %}
                                    <sw-button size="small"
                                               :disabled="confirmModalIsLoading"
                                               @click="showRemoveCredentialsConfirmModal = false">
                                        {{ $tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.abortButtonText') }}
                                    </sw-button>
                                {% endblock %}

                                {% block swag_migration_shop_information_remove_credentials_confirm_modal_confirm %}
                                    <sw-button size="small"
                                               variant="primary"
                                               :disabled="confirmModalIsLoading"
                                               @click="onClickRemoveConnectionCredentials">
                                        {{ $tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.confirmButtonText') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}

                {% block swag_migration_shop_information_reset_checksums_confirm_modal %}
                    <sw-modal v-if="showResetChecksumsConfirmModal"
                              class="swag-migration-shop-information__confirm-modal"
                              :title="$tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.title')"
                              :is-loading="confirmModalIsLoading"
                              size="460px"
                              @modal-close="showResetChecksumsConfirmModal = false">

                        {% block swag_migration_shop_information_reset_checksums_confirm_modal_content %}
                            <p class="swag-migration-shop-information__confirm-modal-content"
                               v-html="$tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.content')">
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_reset_checksums_confirm_modal_content_hint %}
                            <p class="swag-migration-shop-information__confirm-modal-content-hint">
                                {{ $tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.contentHint') }}
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_reset_checksums_confirm_modal_footer %}
                            <template #modal-footer>

                                {% block swag_migration_shop_information_reset_checksums_confirm_modal_abort %}
                                    <sw-button size="small"
                                               :disabled="confirmModalIsLoading"
                                               @click="showResetChecksumsConfirmModal = false">
                                        {{ $tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.abortButtonText') }}
                                    </sw-button>
                                {% endblock %}

                                {% block swag_migration_shop_information_reset_checksums_confirm_modal_confirm %}
                                    <sw-button size="small"
                                               variant="primary"
                                               :disabled="confirmModalIsLoading"
                                               @click="onClickResetChecksums">
                                        {{ $tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.confirmButtonText') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}

                {% block swag_migration_shop_information_reset_migration_confirm_modal %}
                    <sw-modal v-if="showResetMigrationConfirmModal"
                              class="swag-migration-shop-information__reset-confirm-modal"
                              :title="$tc('swag-migration.index.shopInfoCard.resetMigrationConfirmDialog.title')"
                              :is-loading="confirmModalIsLoading"
                              @modal-close="onCloseResetModal">

                        {% block swag_migration_shop_information_reset_migration_confirm_modal_icon %}
                            <div class="swag-migration-shop-information__reset-confirm-modal-icon-wrapper">
                                <sw-icon class="swag-migration-shop-information__confirm-modal-icon"
                                         name="regular-trophy"
                                         color="#37D046"
                                         size="40" />
                            </div>
                        {% endblock %}

                        {% block swag_migration_shop_information_reset_migration_confirm_modal_header %}
                            <p class="swag-migration-shop-information__reset-confirm-modal-header"
                               v-html="$tc('swag-migration.index.shopInfoCard.resetMigrationConfirmDialog.header')">
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_reset_migration_confirm_modal_content %}
                            <p class="swag-migration-shop-information__reset-confirm-modal-content"
                               v-html="$tc('swag-migration.index.shopInfoCard.resetMigrationConfirmDialog.content')">
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_reset_migration_confirm_modal_content_hint %}
                            <p class="swag-migration-shop-information__reset-confirm-modal-content-hint">
                                {{ $tc('swag-migration.index.shopInfoCard.resetMigrationConfirmDialog.contentHint') }}
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_reset_migration_confirm_modal_footer %}
                        <template #modal-footer>

                            {% block swag_migration_shop_information_reset_migration_confirm_modal_abort %}
                                <sw-button size="small"
                                           :disabled="confirmModalIsLoading"
                                           @click="onCloseResetModal">
                                    {{ $tc('swag-migration.index.shopInfoCard.resetMigrationConfirmDialog.abortButtonText') }}
                                </sw-button>
                            {% endblock %}

                            {% block swag_migration_shop_information_reset_migration_confirm_modal_confirm %}
                                <sw-button size="small"
                                           variant="primary"
                                           :disabled="confirmModalIsLoading"
                                           @click="onClickResetMigration">
                                    {{ $tc('swag-migration.index.shopInfoCard.resetMigrationConfirmDialog.confirmButtonText') }}
                                </sw-button>
                            {% endblock %}
                        </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-card>
{% endblock %}
