{% block swag_migration_index_card_shopInfo %}
    <sw-card class="swag-migration-index--card-shopInfo" :title="$tc('swag-migration.index.shopInfoCard.cardTitle')">
        {% block swag_migration_index_card_shopInfo_content %}
            <sw-container slot="grid" rows="auto auto">
                <sw-card-section :divider="showMoreInformation ? 'bottom' : ''">
                    {% block swag_migration_index_card_shopInfo_metaData %}
                        <div class="swag-migration-index__metadata">
                            {% block swag_migration_index_card_shopInfo_metaData_avatar %}
                                <sw-avatar class="swag-migration-index__metadata_avatar"
                                           color="#189EFF"
                                           size="80px">{{ shopFirstLetter }}</sw-avatar>
                            {% endblock %}

                            {% block swag_migration_index_card_shopInfo_metaData_info %}
                                <div class="swag-migration-index__metadata_info">
                                    {% block swag_migration_index_card_shopInfo_metaData_domain %}
                                        <div class="swag-migration-index__metadata-shop-domain">
                                            <span class="swag-migration-index__metadata-shop-domain--prefix"
                                                  :class="shopUrlPrefixClass">
                                                <sw-icon name="small-lock-closed"
                                                         size="12px"
                                                         class="swag-migration-index__metadata-shop-domain--prefix__icon"
                                                         v-if="sslActive">
                                                </sw-icon>
                                                <sw-icon name="small-lock-open"
                                                         size="12px"
                                                         class="swag-migration-index__metadata-shop-domain--prefix__icon"
                                                         v-else>
                                                </sw-icon>
                                                {{ shopUrlPrefix }}</span>{{ shopUrl }}
                                        </div>
                                    {% endblock %}

                                    {% block swag_migration_index_card_shopInfo_metaData_version %}
                                        <div class="swag-migration-index__metadata-shopware-version">
                                            {{ $tc('swag-migration.index.shopInfoCard.shopSystem') }}
                                            {{ shopSystem }}
                                            {{ shopVersion }}
                                        </div>
                                    {% endblock %}

                                    {% block swag_migration_index_card_shopInfo_actions %}
                                        <div class="swag-migration-index__actions">
                                            {% block swag_migration_index_card_shopInfo_actions_editSettings %}
                                                <sw-button size="small"
                                                           @click="$emit('onClickEditSettings')"
                                                           :disabled="isMigrating || isPaused || isOtherMigrationRunning">
                                                    {{ $tc('swag-migration.index.shopInfoCard.buttonEditSettings') }}
                                                </sw-button>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block swag_migration_index_card_shopInfo_metaData_connection %}
                                <swag-badge :label="$tc('swag-migration.index.shopInfoCard.connected')" variant="success">
                                </swag-badge>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </sw-card-section>

                <sw-card-section secondary slim v-if="showMoreInformation">
                    <sw-container class="sw-customer-base-info" columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                        {% block swag_migration_index_card_shopInfo_advancedShopInfo %}
                            <sw-description-list>
                                {% block swag_migration_index_card_shopInfo_advancedShopInfo__categoryProductCount %}
                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.categoriesAndProducts') }}</dt>
                                    <dd>{{ categoryProductCount | localizedNumberFormat }}</dd>
                                {% endblock %}

                                {% block swag_migration_index_card_shopInfo_advancedShopInfo__customerOrderCount %}
                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.customersAndOrders') }}</dt>
                                    <dd>{{ customerOrderCount | localizedNumberFormat }}</dd>
                                {% endblock %}

                                {% block swag_migration_index_card_shopInfo_advancedShopInfo__mediaCount %}
                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.media') }}</dt>
                                    <dd>{{ mediaCount | localizedNumberFormat }}</dd>
                                {% endblock %}
                            </sw-description-list>
                            <sw-description-list>
                                {% block swag_migration_index_card_shopInfo_advancedShopInfo__lastMigration %}
                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.lastMigration') }}</dt>
                                    <dd v-if="lastMigrationDate !== '-'">
                                        {{ $t('swag-migration.index.shopInfoCard.lastMigrationDateTime', lastMigrationDateTimeParams) }}
                                    </dd>
                                    <dd v-else>-</dd>
                                {% endblock %}

                                {% block swag_migration_index_card_shopInfo_advancedShopInfo__gateway %}
                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.gateway') }}</dt>
                                    <dd>{{ gateway.toUpperCase() }}</dd>
                                {% endblock %}
                            </sw-description-list>
                        {% endblock %}
                    </sw-container>
                </sw-card-section>
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}